/*
=============== 
Colors/Fonts
===============
*/

:root {
    /* red shades*/
    --clr-primary-1: #A82222;
    --clr-primary-2: #f20000;
    --clr-primary-3: #490000;
    --clr-primary-4: #670216;
    --clr-primary-5: #331010;
    /* green shades*/
    --clr-primary-6: #00DB1D;
    --clr-primary-7: #21fb3e;
    --clr-primary-8: #2F7538;
    --clr-primary-9: #124819;
    --clr-primary-10: #29332A;
    /* snow shades */
    --clr-primary-11: #7efcfc;
    --clr-primary-12: #ffffff;
    --clr-primary-13: #00ccff;
    --clr-primary-14: #00ffc8;
    --clr-primary-15: #14a8fe;
    /* other props */
    --clr-white: #fff;
    --clr-black: #222;
    --ff-primary: 'Mountains of Christmas', serif;
    --ff-secondary: "Comic Neue", sans-serif;
    --transition: all 0.3s ease-in;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}

/* @font-face {
    font-family: St Nicholas;
    src: url(./stnicholas.ttf);
} */


/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
    height: 100vh;
    background-color: var(--clr-primary-5);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: pink;
 }

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    line-height: 1.25;
    margin-bottom: 0.75rem;
  }

h1 {
    font-size: 2rem;
    color: var(--clr-primary-2);
    font-family: var(--ff-primary);
  }

h2 {
    font-size: 1.75rem;
    color: var(--clr-primary-2);
    font-family: var(--ff-primary);
  }

h3 {
    font-size: 1.3rem;
    color: var(--clr-primary-2);
    font-family: var(--ff-primary);
    margin-top: 5%;
  }

h4 {
    font-size: 1.2rem;
    color: var(--clr-primary-2);
    font-family: var(--ff-primary);
    margin-top: 5%;
  }
  
p {
    font-size: 0.875rem;
    color: var(--clr-primary-2);
    font-family: var(--ff-primary);
  }

hr {
    color: var(--clr-primary-2);

}

/*
=============== 
Classes
===============
*/

.main-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 600px;
    height: 90vh;
    border: 2px solid var(--clr-primary-2);
    /* background-color: var(--clr-primary-4); */
    border-radius: 10px;
    overflow: hidden;
    background-image: none;
    background: radial-gradient(
        circle at top right, 
        var(--clr-primary-4) 0, 
        var(--clr-primary-3) 50%, 
        var(--clr-primary-4) 100%);
}

.title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center; 
}

.title-content {
    width: 55%;
    margin: 2% auto;
    border: 2px solid transparent;
    border-radius: 10px;
    text-shadow: 0 0 5px var(--clr-primary-3)
}

.title-content-border {
    border: 2px solid var(--clr-primary-2);
    background-color: var(--clr-primary-5);
    border-radius: 10px;
}

#advent-title {
    padding-top: 5%;
}

.theme-btn-container,
.other-btn-container {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0 5%;
}

.theme-toggle {
    font-size: 1.5rem;
    margin: auto;
    height: 30px;
    width: 30px;
    color: var(--clr-primary-2);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
}

.theme-toggle:hover {
    color: var(--clr-primary-1);
    animation: bounce 2s ease-in-out infinite;
}

.theme-radio {
    visibility: hidden;
    height: 0;
    width: 0;
}

.theme-radio:checked {
    background-color: none;
}

@keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }

.day-boxes {
    height: 75%;
    width: 90%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    column-gap: 5%;
    justify-items: center;
    align-items: center;
    
}

.day {
    width: 80%;
    height: 90%;
    position: relative;
}

.day-number {
    position: absolute;
    font-weight: bold;
    height: 100%;
    right: 5px;
    text-shadow: 0 0 3px var(--clr-primary-4)
}

.large-numbers {
    width: 100%;
    font-weight: 400;
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-day {
    height: 100%;
    width: 100%;
    background-color: var(--clr-primary-5);
    border-radius: 5px;
    border: 2px solid var(--clr-primary-2);
}

.unlocked-day:hover {
    background-color: var(--clr-primary-5); 
    border: 3px solid var(--clr-primary-2);
    animation: bounce 2s ease-in-out infinite;
}

.locked-day {
    background-color: var(--clr-primary-5);
    border: 2px solid var(--clr-primary-1);
}

.locked-day > h4{
    color: var(--clr-primary-1);

}

.unlocked-day {
    animation: wiggle 2s linear infinite;
    background-color: var(--clr-primary-4);
    border: 3px solid var(--clr-primary-2);
}

@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-8deg);
    }
    20% {
      transform: rotateZ(6deg);
    }
    25% {
      transform: rotateZ(-6deg);
    }
    30% {
      transform: rotateZ(4deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }

.completed-day {
    background-image: url(./images/star.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 40%;
    background-color: var(--clr-primary-5);
    border: 2px dotted var(--clr-primary-2);
    animation: none;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr-primary-5);
    display: grid;
    place-items: center;
    display: none;
    z-index: -10;
}

.modal-container {
    position: relative;
    background: var(--clr-primary-5);
    border-radius: var(--radius);
    width: 100%;
    height: 100%;
    max-width: var(--fixed-width);
    text-align: center;
    display: grid;
    place-items: center;
}

#intro-close-btn,
#warning-close-btn {
    position: fixed;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: var(--clr-primary-2);
    cursor: pointer;
    z-index: 10;
}

#intro-close-btn:hover,
#warning-close-btn:hover,
#play-btn:hover,
#prev-btn:hover,
#next-btn:hover,
#home-btn:hover {
    animation: bounce 2s ease-in-out infinite;
}

.intro-modal {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
}

.header-container {
    position: absolute;
    width: 100%;
    height: 20%;
    text-align: center;
}

#intro-header,
#warning-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
}

.intro-text-container {
    position: absolute;
    color: var(--clr-primary-2);
    font-size: 1.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    text-align: center;
}

.warning-modal {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
}

#warning-img {
    width: 70%;
    height: 50%;
    border: 3px solid var(--clr-primary-2);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.warning-text-container {
    margin: 0;
    position: absolute;
    top: 85%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
}

.intro-btn-container {
    position: absolute;
    bottom: 3rem;
    width: 100%;
    text-align: center;
}

#play-btn {
    position: relative;
    display: none;
    background: var(--clr-primary-2);
    font-family: var(--ff-primary);
    color: var(--clr-primary-5);
    font-size: 1.5rem;
    border: none;
    border-radius: 25px;
    padding: 1% 5%;
    margin: 50px auto;
    cursor: pointer;
}

#prev-btn,
#next-btn,
#home-btn {
    color: var(--clr-primary-2);
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    margin: 0 0.5rem;
    /* transition: var(--transition); */
    cursor: pointer;
}

/*
TRIVIA MODAL
*/

.trivia-modal {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
}

/* .countdown-container {
    display: inline;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#countdown {
    font-size: 8rem;
    animation: grow 1s linear 3;
} */
@keyframes grow {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(2);
    }
  }

.question-container {
    display: block;
    position: relative;
    height: 30%;
    width: 100%;
}

#question-number {
    text-align: center;
}

.question-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    margin: 0;
}

.piano-question {
    top: 100%;
}

.question-img-container {
    position: relative;
    margin: auto;
    display: block;
    height: 60%;
    width: 100%;
}

#question-image {
    position: relative;
    display: block;
    margin: 5% auto;
    width: 60%;
    border: 3px solid var(--clr-primary-2);
    border-radius: 20px;
}

.question-info {
    display: none;
    position: relative;
    margin: 5% auto 5% auto;
    height: 50%;
    width: 80%;
}

.piano-section {
    display: none;
    position: relative;
    height: 80%;
    width: 100%;
}

.answer-container {
    position: relative;
    justify-items: center;
    width: 80%;
    height: 40%;
    margin: 5% auto 5% auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.answer-div {
    margin: auto;
    width: 100%;
    height: 90%;
}

.answer-label {
    display: block;
    width: 80%;
    height: 90%;
    padding: 5%;
    margin: auto;
    border-radius: 25px;
    text-align: center;
    font-size: 1.2rem;
    color: var(--clr-primary-2);
    background-color: var(--clr-primary-5);
    border: 3px solid var(--clr-primary-2);
    cursor: pointer;
    transition: var(--transition);
    box-shadow: 0 4px 8px 0 var(--clr-primary-2), 0 6px 10px 0 var(--clr-primary-3);
}

.answer-label:hover {
    background-image: linear-gradient(to bottom right, var(--clr-primary-3), var(--clr-primary-2));
    color: var(--clr-primary-5);
    font-weight: bold;
    box-shadow: none;
}

.answer-button {
    visibility: hidden;
    height: 0;
    width: 0;
}

.correct-answer {
    background-image: linear-gradient(to bottom right, green, rgb(0, 230, 0));
    border: 3px solid green;
    box-shadow: 0 4px 8px 0 green, 0 6px 10px 0 rgb(0, 230, 0);
    color: rgb(0, 40, 0);
    animation: bounce 1s ease-in-out infinite;
    pointer-events: none;
}

.incorrect-answer {
    background-image: linear-gradient(to bottom right, red, rgb(100, 0, 0));
    border: 3px solid red;
    box-shadow: 0 4px 8px 0 red, 0 6px 10px 0 rgb(100, 0, 0);
    color: rgb(100, 0, 0);
    animation: bounce 1s ease-in-out infinite;
    pointer-events: none;
}

.score-container {
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#score-text {
    position: relative;
    text-align: center;
    margin-top: 10%;
}

.score-img-container {
    position: relative;
    display: none;
    height: 40%;
    width: 100%;
}

#score-img {
    width: 50%;
    margin: auto;
    border: 3px solid var(--clr-primary-2);
    border-radius: 10px;
    display: none;
    margin-top: 50px;
}

#reminder-text {
    position: relative;
    text-align: center;
    margin: 3% auto;
    width: 80%;
}

.home-btn-container {
    position: fixed;
    bottom: 8%;
    width: 100%;
    text-align: center;
}

.welcome-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    border: 5px double var(--clr-primary-1);
    border-radius: 10px;
    text-align: center;
    z-index: 10;
    background-color: var(--clr-primary-5);
    display: block;
}

#welcome-header {
    position: absolute;
    width: 80%;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#welcome-text {
    position: absolute;
    width: 75%;
    top: 40%;
    font-size: 1.25rem;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#welcome-btn,
#ready-btn {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    margin: auto;
    color: var(--clr-primary-2);
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}

.name-entry {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#user-name-label {
    color: var(--clr-primary-2);
    font-size: 1.25rem;
}

#user-name-input {
    background-color: var(--clr-black);
    width: 100%;
    height: 2.5rem;
    font-size: 1.5rem;
    border-radius: 20px;
    text-align: center;
    border: none;
    outline: none;
    margin: 5% auto;
    color: var(--clr-primary-2);
    font-family: (var(--ff-primary));
}

#ready-btn {
    position: absolute;
    top: 85%;
    display: none;
}

#piano-wrap {
    position: relative;
    height: 80%;
    width: 100%;
    margin: auto;
}

.nowplaying {
    display: none;
}

.keys {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 880px;
    position: relative;
    margin: 10% auto;
    cursor: pointer;
}

.key {
    position: relative;
    border: 4px solid black;
    border-radius: .5rem;
    transition: all .07s ease;
    display: block;
    box-sizing: border-box;
    z-index: 2;
}

.key:not(.sharp) {
    float: left;
    width: 10%;
    height: 100%;
    background: rgba(255, 255, 255, .8);    
}

.key.sharp {
    position: absolute;
    width: 6%;
    height: 60%;
    background: #000;
    color: #eee;
    top: 0;
    z-index: 3;
  }

.key[data-key="87"] {
    left: 7%;
  }

.key[data-key="69"] {
    left: 17%;
  }

.key[data-key="84"]  {
    left: 37%;
  }

.key[data-key="89"] {
    left: 47%;
  }

.key[data-key="85"] {
    left: 57%;    
  }

.key[data-key="79"] {
    left: 77%;    
  }

.key[data-key="80"] {
    left: 87%;    
  }

.playing {
    transform: scale(.95);
    border-color: #028ae9;
    box-shadow: 0 0 1rem #028ae9;
}

#bday-image {
    max-width: 95%;
    height: 50%;
    border-radius: 10px;
    border: 2px solid var(--clr-primary-2)
}

.caption {
    font-size: 0.85rem;
}

@media only screen and (max-width: 700px) {

    h2 {
        font-size: 1.25rem;
    }

    h3 {
        font-size: 1rem;
    }

    h4 {
        font-size: 0.8rem;
    }

    .main-container {
        height: 80vh;
        margin: auto;
    }

    .theme-toggle,
    .theme-radio {
        font-size: 1.2rem;
    }

    #welcome-text {
        top: 50%;
    }

    #welcome-header {
        top: 20%;
    }

    .title {
        height: 10%;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .title-content {
        margin: auto;
    }

    #advent-title {
        font-size: 0.75rem;
    }

    .title-content-border {
        border: 1px dotted var(--clr-primary-2);
        background-color: var(--clr-primary-5);
        border-radius: 10px;
    }

    .day-boxes {
        margin: 7% auto;
    }

    #warning-img {
        height: 35%;
    }

    .header-container {
        margin-top: 10%;
    }

    #play-btn {
        font-size: 1.25rem;
    }

    .intro-text-container {
        font-size: 1.25rem;
        line-height: 1.35;
    }

    .question-info {
        height: 40%;
    }

    .question-container {
        height: 40%;
    }

    #question-image {
        height: 100%;
    }

    .answer-label {
        font-size: 0.95rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .answer-div {
        height: 80%;
    }

    .answer-label:hover {
        background-image: unset;
        color: var(--clr-primary-2);
        font-weight: initial;
        box-shadow: 0 4px 8px 0 var(--clr-primary-2), 0 6px 10px 0 var(--clr-primary-3);
    }

    .correct-answer {
        color: rgb(0, 40, 0);
        background-color: rgb(0, 230, 0);
        border: 3px solid green;
        box-shadow: 0 4px 8px 0 green, 0 6px 10px 0 rgb(0, 230, 0);
        animation: bounce 1s ease-in-out infinite;
        pointer-events: none;
    }
    
    .incorrect-answer {
        color: black;
        background-color: red;
        border: 3px solid red;
        box-shadow: 0 4px 8px 0 red, 0 6px 10px 0 rgb(100, 0, 0);
        animation: bounce 1s ease-in-out infinite;
        pointer-events: none;
    }

    #score-text {
        margin: 8% auto;
        width: 80%;
    }

    #score-img {
        width: 80%;
    }


}